In [299]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation
import math

%matplotlib inline

from subprocess import check_output
#print(check_output(["ls", "../ml-100k"]).decode("utf8"))

In [2]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('./ml-100k/u.user', sep='|', names=u_cols,
                    encoding='utf8', parse_dates=True) 

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('./ml-100k/u.data', sep='\t', names=r_cols,
                      encoding='latin-1')

m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('./ml-100k/u.item', sep='|', names=m_cols, usecols=range(5),
                     encoding='latin-1')

In [3]:
movie_ratings = pd.merge(movies, ratings)
df = pd.merge(movie_ratings, users)

df.head(2)

,movie_id,title,release_date,video_release_date,imdb_url,user_id,rating,unix_timestamp,age,sex,occupation,zip_code
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,308,4,887736532,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,308,5,887737890,60,M,retired,95076

In [4]:
df

,movie_id,title,release_date,video_release_date,imdb_url,user_id,rating,unix_timestamp,age,sex,occupation,zip_code
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,308,4,887736532,60,M,retired,95076
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,308,5,887737890,60,M,retired,95076
2,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),308,4,887739608,60,M,retired,95076
3,7,Twelve Monkeys (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,308,4,887738847,60,M,retired,95076
4,8,Babe (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),308,5,887736696,60,M,retired,95076
5,9,Dead Man Walking (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,308,4,887737194,60,M,retired,95076
6,11,Seven (Se7en) (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Se7en%20(1995),308,5,887737837,60,M,retired,95076
7,12,"Usual Suspects, The (1995)",14-Aug-1995,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,308,5,887737243,60,M,retired,95076
8,15,Mr. Holland's Opus (1995),29-Jan-1996,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,308,3,887739426,60,M,retired,95076
9,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,308,4,887739056,60,M,retired,95076
10,19,Antonia's Line (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),308,3,887737383,60,M,retired,95076
11,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,308,3,887740729,60,M,retired,95076
12,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,308,4,887737647,60,M,retired,95076
13,23,Taxi Driver (1976),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Taxi%20Driver...,308,5,887737293,60,M,retired,95076
14,24,Rumble in the Bronx (1995),23-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Hong%20Faan%2...,308,4,887738057,60,M,retired,95076
15,25,"Birdcage, The (1996)",08-Mar-1996,NaN,"http://us.imdb.com/M/title-exact?Birdcage,%20T...",308,4,887740649,60,M,retired,95076
16,28,Apollo 13 (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Apollo%2013%2...,308,3,887737036,60,M,retired,95076
17,30,Belle de jour (1967),01-Jan-1967,NaN,http://us.imdb.com/M/title-exact?Belle%20de%20...,308,4,887738933,60,M,retired,95076
18,31,Crimson Tide (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Crimson%20Tid...,308,3,887739472,60,M,retired,95076
19,32,Crumb (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Crumb%20(1994),308,5,887737432,60,M,retired,95076
20,42,Clerks (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Clerks%20(1994),308,4,887738191,60,M,retired,95076
21,44,Dolores Claiborne (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Dolores%20Cla...,308,4,887740451,60,M,retired,95076
22,45,Eat Drink Man Woman (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Yinshi%20Nan%...,308,4,887736843,60,M,retired,95076
23,47,Ed Wood (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Ed%20Wood%20(...,308,4,887738933,60,M,retired,95076
24,48,Hoop Dreams (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Hoop%20Dreams...,308,4,887736880,60,M,retired,95076
25,49,I.Q. (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?I.Q.%20(1994),308,3,887740833,60,M,retired,95076
26,50,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,308,5,887737431,60,M,retired,95076
27,54,Outbreak (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Outbreak%20(1...,308,2,887740254,60,M,retired,95076
28,55,"Professional, The (1994)",01-Jan-1994,NaN,http://us.imdb.com/Title?L%E9on+(1994),308,3,887738760,60,M,retired,95076
29,56,Pulp Fiction (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,308,5,887736924,60,M,retired,95076
...,...,...,...,...,...,...,...,...,...,...,...,...
99970,332,Kiss the Girls (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Kiss+the+Girl...,631,3,888465180,18,F,student,38866
99971,334,U Turn (1997),01-Jan-1997,NaN,http://us.imdb.com/Title?U+Turn+(1997),631,2,888464941,18,F,student,38866
99972,338,Bean (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Bean+(1997),631,2,888465299,18,F,student,38866
99973,346,Jackie Brown (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,631,4,888465004,18,F,student,38866
99974,682,I Know What You Did Last Summer (1997),17-Oct-1997,NaN,http://us.imdb.com/M/title-exact?I+Know+What+Y...,631,2,888465247,18,F,student,38866
99975,873,Picture Perfect (1997),01-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Picture+Perfe...,631,2,888465084,18,F,student,38866
99976,877,Excess Baggage (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Excess+Baggag...,631,2,888465131,18,F,student,38866
99977,886,"Life Less Ordinary, A (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Life+Less+Ord...,631,4,888465216,18,F,student,38866
99978,1527,Senseless (1998),09-Jan-1998,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,631,2,888465351,18,F,student,38866
99979,272,Good Will Hunting (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,4,893286638,19,M,student,56567
99980,288,Scream (1996),20-Dec-1996,NaN,http://us.imdb.com/M/title-exact?Scream%20(1996),729,2,893286261,19,M,student,56567
99981,294,Liar Liar (1997),21-Mar-1997,NaN,http://us.imdb.com/Title?Liar+Liar+(1997),729,2,893286338,19,M,student,56567
99982,300,Air Force One (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Air+Force+One...,729,4,893286638,19,M,student,56567
99983,310,"Rainmaker, The (1997)",01-Jan-1997,NaN,"http://us.imdb.com/M/title-exact?Rainmaker,+Th...",729,3,893286204,19,M,student,56567
99984,313,Titanic (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,729,3,893286638,19,M,student,56567
99985,322,Murder at 1600 (1997),18-Apr-1997,NaN,http://us.imdb.com/M/title-exact?Murder%20at%2...,729,4,893286637,19,M,student,56567
99986,328,Conspiracy Theory (1997),08-Aug-1997,NaN,http://us.imdb.com/M/title-exact?Conspiracy+Th...,729,3,893286638,19,M,student,56567
99987,333,"Game, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Game%2C+The+(...,729,4,893286638,19,M,student,56567
99988,338,Bean (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Bean+(1997),729,1,893286373,19,M,student,56567
99989,346,Jackie Brown (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286168,19,M,student,56567
99990,354,"Wedding Singer, The (1998)",13-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Wedding+Singe...,729,5,893286637,19,M,student,56567
99991,362,Blues Brothers 2000 (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Blues+Brother...,729,4,893286637,19,M,student,56567
99992,683,Rocket Man (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Rocket+Man+(1...,729,2,893286511,19,M,student,56567
99993,689,"Jackal, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Jackal%2C+The...,729,4,893286638,19,M,student,56567
99994,690,Seven Years in Tibet (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Seven+Years+i...,729,2,893286149,19,M,student,56567
99995,748,"Saint, The (1997)",14-Mar-1997,NaN,http://us.imdb.com/M/title-exact?Saint%2C%20Th...,729,4,893286638,19,M,student,56567
99996,751,Tomorrow Never Dies (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-12...,729,3,893286338,19,M,student,56567
99997,879,"Peacemaker, The (1997)",01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Peacemaker%2C...,729,3,893286299,19,M,student,56567
99998,894,Home Alone 3 (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286511,19,M,student,56567
99999,901,Mr. Magoo (1997),25-Dec-1997,NaN,http://us.imdb.com/M/title-exact?imdb-title-11...,729,1,893286491,19,M,student,56567

In [5]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [6]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [7]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [8]:
movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [73]:
m_genre = ['genre', 'no']
genre = pd.read_csv('./ml-100k/u.genre', sep='|', names=m_genre,
                     encoding='latin-1',usecols=range(1))

In [100]:
genre

          genre
0       unknown
1        Action
2     Adventure
3     Animation
4    Children's
5        Comedy
6         Crime
7   Documentary
8         Drama
9       Fantasy
10    Film-Noir
11       Horror
12      Musical
13      Mystery
14      Romance
15       Sci-Fi
16     Thriller
17          War
18      Western

In [82]:
genre['genre'].values.tolist()

['unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

### One-Hot-Encoding

In [84]:
m_cols2 = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
m_cols2 = m_cols2+genre['genre'].values.tolist()
m_cols2

['movie_id',
 'title',
 'release_date',
 'video_release_date',
 'imdb_url',
 'unknown',
 'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [87]:
movies2 = pd.read_csv('./ml-100k/u.item', sep='|', names=m_cols2 , encoding='latin-1')
movies2.tail()

,movie_id,title,release_date,video_release_date,imdb_url,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Data Pre-Processing

In [88]:
df.drop(df.columns[[3,4,7]], axis=1, inplace=True)
ratings.drop( "unix_timestamp", inplace = True, axis = 1 ) 
movies.drop(movies.columns[[3,4]], inplace = True, axis = 1 )
#Dropping all the columns that are not really needed
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 9 columns):
movie_id        100000 non-null int64
title           100000 non-null object
release_date    99991 non-null object
user_id         100000 non-null int64
rating          100000 non-null int64
age             100000 non-null int64
sex             100000 non-null object
occupation      100000 non-null object
zip_code        100000 non-null object
dtypes: int64(4), object(5)
memory usage: 7.6+ MB

### Movie Rating

In [90]:
movie_stats = df.groupby('title').agg({'rating': [np.size, np.mean]})
movie_stats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

In [91]:
min_50 = movie_stats['rating']['size'] >= 50
movie_stats[min_50].sort_values([('rating', 'mean')], ascending=False).head()

                                                   rating
                                                     size      mean
title
Close Shave, A (1995)                                 112  4.491071
Schindler's List (1993)                               298  4.466443
Wrong Trousers, The (1993)                            118  4.466102
Casablanca (1942)                                     243  4.456790
Wallace & Gromit: The Best of Aardman Animation...     67  4.447761

In [94]:
ratings.head()

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

In [95]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

Rating

In [209]:
ratings_matrix = ratings.pivot_table(index=['movie_id'],columns=['user_id'],values='rating').reset_index(drop=True)

In [210]:
ratings_matrix

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
0,5.0,4.0,NaN,NaN,4.0,4.0,NaN,NaN,NaN,4.0,...,2.0,3.0,4.0,NaN,4.0,NaN,NaN,5.0,NaN,NaN
1,3.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,...,5.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4.0,NaN,NaN,NaN,NaN,2.0,5.0,3.0,4.0,4.0,...,NaN,NaN,4.0,NaN,4.0,NaN,4.0,4.0,NaN,NaN
7,1.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
8,5.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,4.0,...,NaN,1.0,4.0,5.0,3.0,5.0,3.0,NaN,NaN,3.0
9,3.0,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2.0,NaN,NaN,4.0,NaN,NaN,3.0,3.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
11,5.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,5.0
12,5.0,4.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,3.0,...,5.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,5.0,4.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,4.0,NaN,NaN,3.0,NaN,NaN,NaN
14,5.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,2.0,5.0,NaN,4.0,NaN,NaN
15,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5.0,3.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
19,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1.0,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4.0,NaN,NaN,NaN,NaN,3.0,5.0,5.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
22,4.0,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
23,3.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
24,4.0,4.0,NaN,NaN,3.0,NaN,3.0,NaN,NaN,NaN,...,4.0,NaN,4.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN
25,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
27,4.0,NaN,NaN,NaN,NaN,2.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
28,1.0,NaN,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
ratings_matrix.fillna( 0, inplace = True )
ratings_matrix.head(5)

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
0,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
1,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Cosine Similarity

In [227]:
user_similarity = pairwise_distances( ratings_matrix, metric="cosine" )
#np.fill_diagonal( user_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_u = pd.DataFrame(user_similarity )
ratings_matrix_u

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.000000,0.597618,0.669755,0.545062,0.713286,0.883656,0.379021,0.518886,0.503712,0.726065,...,0.964613,1.000000,1.000000,1.000000,0.964613,1.0,1.0,1.0,0.952817,0.952817
1,0.597618,0.000000,0.726931,0.497429,0.681164,0.916437,0.616597,0.662998,0.744748,0.828918,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.921701,0.921701
2,0.669755,0.726931,0.000000,0.675134,0.787043,0.893278,0.627079,0.799206,0.726331,0.841896,...,1.000000,1.000000,1.000000,1.000000,0.967708,1.0,1.0,1.0,1.000000,0.903125
3,0.545062,0.497429,0.675134,0.000000,0.665761,0.909692,0.510717,0.509764,0.580956,0.747439,...,1.000000,1.000000,0.905978,0.905978,0.962391,1.0,1.0,1.0,0.943587,0.924782
4,0.713286,0.681164,0.787043,0.665761,0.000000,0.962701,0.665231,0.740839,0.727552,0.944547,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.905789
5,0.883656,0.916437,0.893278,0.909692,0.962701,0.000000,0.860383,0.916124,0.848936,0.796903,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
6,0.379021,0.616597,0.627079,0.510717,0.665231,0.860383,0.000000,0.576485,0.472538,0.681377,...,1.000000,0.948502,1.000000,1.000000,0.948502,1.0,1.0,1.0,0.948502,0.948502
7,0.518886,0.662998,0.799206,0.509764,0.740839,0.916124,0.576485,0.000000,0.575571,0.732236,...,1.000000,0.917967,0.934373,0.934373,0.917967,1.0,1.0,1.0,0.917967,1.000000
8,0.503712,0.744748,0.726331,0.580956,0.727552,0.848936,0.472538,0.575571,0.000000,0.711486,...,1.000000,1.000000,0.942640,0.942640,0.928300,1.0,1.0,1.0,0.942640,0.928300
9,0.726065,0.828918,0.841896,0.747439,0.944547,0.796903,0.681377,0.732236,0.711486,0.000000,...,1.000000,1.000000,0.919736,0.919736,1.000000,1.0,1.0,1.0,1.000000,1.000000
10,0.531709,0.531494,0.638835,0.411663,0.624191,0.936013,0.431156,0.564523,0.557890,0.776226,...,1.000000,0.951088,0.918481,0.918481,0.918481,1.0,1.0,1.0,0.967392,0.934785
11,0.539608,0.540054,0.680705,0.415116,0.626176,0.855529,0.431114,0.495094,0.512285,0.732150,...,1.000000,1.000000,0.945144,0.945144,0.931430,1.0,1.0,1.0,0.958858,0.945144
12,0.582491,0.786028,0.728598,0.602749,0.803505,0.729139,0.532609,0.651709,0.588385,0.665739,...,1.000000,1.000000,1.000000,1.000000,0.938049,1.0,1.0,1.0,1.000000,1.000000
13,0.652322,0.874537,0.809758,0.733236,0.896712,0.746165,0.669383,0.697278,0.538719,0.674602,...,1.000000,0.909642,1.000000,1.000000,0.927713,1.0,1.0,1.0,1.000000,0.909642
14,0.425623,0.746838,0.733665,0.669543,0.734877,0.907242,0.564845,0.619584,0.526264,0.833798,...,0.925156,1.000000,1.000000,1.000000,0.955094,1.0,1.0,1.0,0.955094,1.000000
15,0.775880,0.901815,0.832391,0.830760,0.887844,0.857376,0.789102,0.867965,0.804021,0.757933,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
16,0.726084,0.609562,0.595761,0.595111,0.610809,0.911114,0.598287,0.789994,0.784585,0.847609,...,1.000000,1.000000,0.843521,0.843521,1.000000,1.0,1.0,1.0,1.000000,0.874816
17,0.953768,0.886937,0.873436,0.899144,0.922263,0.760319,0.918997,0.900159,0.874280,0.859263,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
18,0.808228,0.969308,0.894623,0.870637,0.911369,0.781385,0.759652,0.843239,0.712482,0.748299,...,1.000000,1.000000,1.000000,1.000000,0.911803,1.0,1.0,1.0,0.941202,1.000000
19,0.767070,0.908450,0.812267,0.791738,0.938803,0.813833,0.710224,0.736765,0.694009,0.602887,...,1.000000,1.000000,1.000000,1.000000,0.935043,1.0,1.0,1.0,0.967522,1.000000
20,0.660804,0.680692,0.805454,0.743533,0.807321,0.927471,0.700209,0.719233,0.784812,0.824967,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
21,0.472831,0.516651,0.706268,0.427189,0.680562,0.921243,0.480543,0.484590,0.586811,0.788328,...,1.000000,0.959149,0.931914,0.931914,0.972766,1.0,1.0,1.0,0.931914,0.945532
22,0.661895,0.721818,0.766186,0.553432,0.754912,0.824418,0.598765,0.624537,0.610950,0.780825,...,0.929531,0.911914,0.929531,0.929531,0.929531,1.0,1.0,1.0,0.964766,0.929531
23,0.532402,0.565093,0.618090,0.586578,0.762564,0.884396,0.482295,0.673944,0.693817,0.788673,...,1.000000,1.000000,1.000000,1.000000,0.915522,1.0,1.0,1.0,0.915522,0.957761
24,0.432050,0.693361,0.693553,0.577700,0.715758,0.885876,0.461908,0.615551,0.558420,0.741750,...,0.918750,1.000000,1.000000,1.000000,0.951250,1.0,1.0,1.0,0.951250,1.000000
25,0.772705,0.793519,0.785875,0.619752,0.771145,0.849131,0.748113,0.728019,0.759927,0.774285,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
26,0.791528,0.591263,0.738697,0.629808,0.757261,0.939711,0.709227,0.806471,0.836623,0.868593,...,1.000000,1.000000,0.838966,0.838966,1.000000,1.0,1.0,1.0,0.959742,1.000000
27,0.407123,0.516923,0.730704,0.468620,0.673108,0.917123,0.517040,0.459844,0.581873,0.749189,...,0.940004,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.970002,0.940004
28,0.638343,0.418881,0.746926,0.570215,0.678712,0.932267,0.670704,0.663752,0.777583,0.881561,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.934417,1.000000
29,0.849041,0.910645,0.873653,0.783106,0.872008,0.812683,0.814771,0.777328,0.767388,0.765554,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.836972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1653,0.941021,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.971320,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1654,0.952817,0.921701,0.903125,0.943587,0.905789,1.000000,0.948502,0.950780,0.956980,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1655,0.967144,1.000000,1.000000,0.930162,1.000000,1.000000,0.940231,0.939067,0.946743,0.875794,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1656,0.964613,0.895601,1.000000,1.000000,0.905789,1.000000,0.974251,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1657,0.951811,1.000000,1.000000,1.000000,1.000000,1.000000,0.940231,1.000000,0.933428,0.875794,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1658,0.941021,1.000000,0.935417,0.924782,1.000000,1.000000,0.948502,0.917967,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1659,0.941021,1.000000,0.935417,0.924782,1.000000,1.000000,0.948502,0.917967,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1660,0.964613,0.895601,0.903125,1.000000,1.000000,1.000000,0.961376,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1661,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1662,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1663,0.932596,0.925429,0.981548,0.935528,0.946165,0.881966,0.944823,0.962499,0.959029,0.938846,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1664,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1665,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1666,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1667,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1668,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1669,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1670,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1671,0.966637,0.944634,1.000000,0.960110,1.000000,0.963485,0.963585,0.941994,0.959440,0.943244,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.292893,1.000000
1672,0.964613,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1673,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.948502,0.917967,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1674,1.000000,1.000000,1.000000,0.905978,1.000000,1.000000,1.000000,0.934373,0.942640,0.919736,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1675,1.000000,1.000000,1.000000,0.905978,1.000000,1.000000,1.000000,0.934373,0.942640,0.919736,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1676,0.964613,1.000000,0.967708,0.962391,1.000000,1.000000,0.948502,0.917967,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,1.000000,1.000000
1677,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1678,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1679,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1680,0.952817,0.921701,1.000000,0.943587,1.000000,1.000000,0.948502,0.917967,0.942640,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.000000,1.000000
1681,0.952817,0.921701,0.903125,0.924782,0.905789,1.000000,0.948502,1.000000,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.000000

In [216]:
movie_similarity = pairwise_distances( ratings_matrix.as_matrix(), metric="cosine" )
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix_f = pd.DataFrame( movie_similarity )
ratings_matrix_f

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.000000,0.597618,0.669755,0.545062,0.713286,0.883656,0.379021,0.518886,0.503712,0.726065,...,0.964613,1.000000,1.000000,1.000000,0.964613,1.0,1.0,1.0,0.952817,0.952817
1,0.597618,0.000000,0.726931,0.497429,0.681164,0.916437,0.616597,0.662998,0.744748,0.828918,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.921701,0.921701
2,0.669755,0.726931,0.000000,0.675134,0.787043,0.893278,0.627079,0.799206,0.726331,0.841896,...,1.000000,1.000000,1.000000,1.000000,0.967708,1.0,1.0,1.0,1.000000,0.903125
3,0.545062,0.497429,0.675134,0.000000,0.665761,0.909692,0.510717,0.509764,0.580956,0.747439,...,1.000000,1.000000,0.905978,0.905978,0.962391,1.0,1.0,1.0,0.943587,0.924782
4,0.713286,0.681164,0.787043,0.665761,0.000000,0.962701,0.665231,0.740839,0.727552,0.944547,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.905789
5,0.883656,0.916437,0.893278,0.909692,0.962701,0.000000,0.860383,0.916124,0.848936,0.796903,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
6,0.379021,0.616597,0.627079,0.510717,0.665231,0.860383,0.000000,0.576485,0.472538,0.681377,...,1.000000,0.948502,1.000000,1.000000,0.948502,1.0,1.0,1.0,0.948502,0.948502
7,0.518886,0.662998,0.799206,0.509764,0.740839,0.916124,0.576485,0.000000,0.575571,0.732236,...,1.000000,0.917967,0.934373,0.934373,0.917967,1.0,1.0,1.0,0.917967,1.000000
8,0.503712,0.744748,0.726331,0.580956,0.727552,0.848936,0.472538,0.575571,0.000000,0.711486,...,1.000000,1.000000,0.942640,0.942640,0.928300,1.0,1.0,1.0,0.942640,0.928300
9,0.726065,0.828918,0.841896,0.747439,0.944547,0.796903,0.681377,0.732236,0.711486,0.000000,...,1.000000,1.000000,0.919736,0.919736,1.000000,1.0,1.0,1.0,1.000000,1.000000
10,0.531709,0.531494,0.638835,0.411663,0.624191,0.936013,0.431156,0.564523,0.557890,0.776226,...,1.000000,0.951088,0.918481,0.918481,0.918481,1.0,1.0,1.0,0.967392,0.934785
11,0.539608,0.540054,0.680705,0.415116,0.626176,0.855529,0.431114,0.495094,0.512285,0.732150,...,1.000000,1.000000,0.945144,0.945144,0.931430,1.0,1.0,1.0,0.958858,0.945144
12,0.582491,0.786028,0.728598,0.602749,0.803505,0.729139,0.532609,0.651709,0.588385,0.665739,...,1.000000,1.000000,1.000000,1.000000,0.938049,1.0,1.0,1.0,1.000000,1.000000
13,0.652322,0.874537,0.809758,0.733236,0.896712,0.746165,0.669383,0.697278,0.538719,0.674602,...,1.000000,0.909642,1.000000,1.000000,0.927713,1.0,1.0,1.0,1.000000,0.909642
14,0.425623,0.746838,0.733665,0.669543,0.734877,0.907242,0.564845,0.619584,0.526264,0.833798,...,0.925156,1.000000,1.000000,1.000000,0.955094,1.0,1.0,1.0,0.955094,1.000000
15,0.775880,0.901815,0.832391,0.830760,0.887844,0.857376,0.789102,0.867965,0.804021,0.757933,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
16,0.726084,0.609562,0.595761,0.595111,0.610809,0.911114,0.598287,0.789994,0.784585,0.847609,...,1.000000,1.000000,0.843521,0.843521,1.000000,1.0,1.0,1.0,1.000000,0.874816
17,0.953768,0.886937,0.873436,0.899144,0.922263,0.760319,0.918997,0.900159,0.874280,0.859263,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
18,0.808228,0.969308,0.894623,0.870637,0.911369,0.781385,0.759652,0.843239,0.712482,0.748299,...,1.000000,1.000000,1.000000,1.000000,0.911803,1.0,1.0,1.0,0.941202,1.000000
19,0.767070,0.908450,0.812267,0.791738,0.938803,0.813833,0.710224,0.736765,0.694009,0.602887,...,1.000000,1.000000,1.000000,1.000000,0.935043,1.0,1.0,1.0,0.967522,1.000000
20,0.660804,0.680692,0.805454,0.743533,0.807321,0.927471,0.700209,0.719233,0.784812,0.824967,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
21,0.472831,0.516651,0.706268,0.427189,0.680562,0.921243,0.480543,0.484590,0.586811,0.788328,...,1.000000,0.959149,0.931914,0.931914,0.972766,1.0,1.0,1.0,0.931914,0.945532
22,0.661895,0.721818,0.766186,0.553432,0.754912,0.824418,0.598765,0.624537,0.610950,0.780825,...,0.929531,0.911914,0.929531,0.929531,0.929531,1.0,1.0,1.0,0.964766,0.929531
23,0.532402,0.565093,0.618090,0.586578,0.762564,0.884396,0.482295,0.673944,0.693817,0.788673,...,1.000000,1.000000,1.000000,1.000000,0.915522,1.0,1.0,1.0,0.915522,0.957761
24,0.432050,0.693361,0.693553,0.577700,0.715758,0.885876,0.461908,0.615551,0.558420,0.741750,...,0.918750,1.000000,1.000000,1.000000,0.951250,1.0,1.0,1.0,0.951250,1.000000
25,0.772705,0.793519,0.785875,0.619752,0.771145,0.849131,0.748113,0.728019,0.759927,0.774285,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
26,0.791528,0.591263,0.738697,0.629808,0.757261,0.939711,0.709227,0.806471,0.836623,0.868593,...,1.000000,1.000000,0.838966,0.838966,1.000000,1.0,1.0,1.0,0.959742,1.000000
27,0.407123,0.516923,0.730704,0.468620,0.673108,0.917123,0.517040,0.459844,0.581873,0.749189,...,0.940004,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.970002,0.940004
28,0.638343,0.418881,0.746926,0.570215,0.678712,0.932267,0.670704,0.663752,0.777583,0.881561,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.934417,1.000000
29,0.849041,0.910645,0.873653,0.783106,0.872008,0.812683,0.814771,0.777328,0.767388,0.765554,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.836972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1653,0.941021,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.971320,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1654,0.952817,0.921701,0.903125,0.943587,0.905789,1.000000,0.948502,0.950780,0.956980,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1655,0.967144,1.000000,1.000000,0.930162,1.000000,1.000000,0.940231,0.939067,0.946743,0.875794,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1656,0.964613,0.895601,1.000000,1.000000,0.905789,1.000000,0.974251,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1657,0.951811,1.000000,1.000000,1.000000,1.000000,1.000000,0.940231,1.000000,0.933428,0.875794,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1658,0.941021,1.000000,0.935417,0.924782,1.000000,1.000000,0.948502,0.917967,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1659,0.941021,1.000000,0.935417,0.924782,1.000000,1.000000,0.948502,0.917967,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1660,0.964613,0.895601,0.903125,1.000000,1.000000,1.000000,0.961376,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1661,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1662,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1663,0.932596,0.925429,0.981548,0.935528,0.946165,0.881966,0.944823,0.962499,0.959029,0.938846,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1664,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1665,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1666,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1667,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1668,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1669,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1670,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1671,0.966637,0.944634,1.000000,0.960110,1.000000,0.963485,0.963585,0.941994,0.959440,0.943244,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.292893,1.000000
1672,0.964613,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1673,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.948502,0.917967,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1674,1.000000,1.000000,1.000000,0.905978,1.000000,1.000000,1.000000,0.934373,0.942640,0.919736,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1675,1.000000,1.000000,1.000000,0.905978,1.000000,1.000000,1.000000,0.934373,0.942640,0.919736,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
1676,0.964613,1.000000,0.967708,0.962391,1.000000,1.000000,0.948502,0.917967,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0,1.0,1.000000,1.000000
1677,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1678,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1679,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1680,0.952817,0.921701,1.000000,0.943587,1.000000,1.000000,0.948502,0.917967,0.942640,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.000000,1.000000
1681,0.952817,0.921701,0.903125,0.924782,0.905789,1.000000,0.948502,1.000000,0.928300,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.000000

### Recomemdation

In [219]:
try:
    #user_inp=input('Enter the reference movie title based on which recommendations are to be made: ')
    user_inp="Toy Story (1995)"
    inp=movies[movies['title']==user_inp].index.tolist()
    inp=inp[0]
    
    movies['similarity'] = ratings_matrix_f.iloc[inp]
    movies.columns = ['movie_id', 'title', 'release_date','similarity']
    movies.head(2)
    
except:
    print("Sorry, the movie is not in the database!")

In [220]:
print("Recommended movies based on your choice of ",user_inp ,": \n", movies.sort_values( ["similarity"], ascending = False )[1:20])

Recommended movies based on your choice of  Toy Story (1995) :
       movie_id                                         title release_date  \
1571      1572                Wend Kuuni (God's Gift) (1982)  01-Jan-1982
1623      1624                                   Hush (1998)  10-Mar-1998
1624      1625                             Nightwatch (1997)  22-Apr-1997
1569      1570                        Quartier Mozart (1992)  01-Jan-1992
1568      1569      Vie est belle, La (Life is Rosey) (1987)  01-Jan-1987
1567      1568                  Vermont Is For Lovers (1992)  01-Jan-1992
1566      1567                                Careful (1992)  01-Jan-1992
1565      1566               Man from Down Under, The (1943)  01-Jan-1943
1564      1565                                  Daens (1992)  01-Jan-1992
1563      1564                   To Cross the Rubicon (1991)  01-Jan-1991
1562      1563        Promise, The (Versprechen, Das) (1994)  01-Jan-1994
1561      1562  Eye of Vichy, The (Oeil de Vichy, L') (1993)  01-Jan-1993
1560      1561    Tigrero: A Film That Was Never Made (1994)  01-Jan-1994
1558      1559                     Hostile Intentions (1994)  01-Jan-1994
1556      1557                            Yankee Zulu (1994)  16-Feb-1996
1555      1556                          Condition Red (1995)  01-Jan-1995
1547      1548                          The Courtyard (1995)  01-Jan-1995
1545      1546                       Shadows (Cienie) (1988)  01-Jan-1988
1524      1525            Object of My Affection, The (1998)  20-Mar-1998

      similarity
1571         1.0
1623         1.0
1624         1.0
1569         1.0
1568         1.0
1567         1.0
1566         1.0
1565         1.0
1564         1.0
1563         1.0
1562         1.0
1561         1.0
1560         1.0
1558         1.0
1556         1.0
1555         1.0
1547         1.0
1545         1.0
1524         1.0

In [181]:
user_inp="Terminator, The (1984)"
inp=movies[movies['title']==user_inp].index.tolist()
inp=inp[0]
inp

194

In [184]:
movies['similarity'] = ratings_matrix.iloc[inp]

In [185]:
movies

,movie_id,title,release_date,similarity
0,1,Toy Story (1995),01-Jan-1995,NaN
1,2,GoldenEye (1995),01-Jan-1995,5.0
2,3,Four Rooms (1995),01-Jan-1995,0.0
3,4,Get Shorty (1995),01-Jan-1995,0.0
4,5,Copycat (1995),01-Jan-1995,0.0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,0.0
6,7,Twelve Monkeys (1995),01-Jan-1995,4.0
7,8,Babe (1995),01-Jan-1995,5.0
8,9,Dead Man Walking (1995),01-Jan-1995,5.0
9,10,Richard III (1995),22-Jan-1996,0.0
10,11,Seven (Se7en) (1995),01-Jan-1995,4.0
11,12,"Usual Suspects, The (1995)",14-Aug-1995,0.0
12,13,Mighty Aphrodite (1995),30-Oct-1995,4.0
13,14,"Postino, Il (1994)",01-Jan-1994,3.0
14,15,Mr. Holland's Opus (1995),29-Jan-1996,5.0
15,16,French Twist (Gazon maudit) (1995),01-Jan-1995,0.0
16,17,From Dusk Till Dawn (1996),05-Feb-1996,5.0
17,18,"White Balloon, The (1995)",01-Jan-1995,0.0
18,19,Antonia's Line (1995),01-Jan-1995,3.0
19,20,Angels and Insects (1995),01-Jan-1995,0.0
20,21,Muppet Treasure Island (1996),16-Feb-1996,0.0
21,22,Braveheart (1995),16-Feb-1996,0.0
22,23,Taxi Driver (1976),16-Feb-1996,4.0
23,24,Rumble in the Bronx (1995),23-Feb-1996,4.0
24,25,"Birdcage, The (1996)",08-Mar-1996,0.0
25,26,"Brothers McMullen, The (1995)",01-Jan-1995,4.0
26,27,Bad Boys (1995),01-Jan-1995,0.0
27,28,Apollo 13 (1995),01-Jan-1995,0.0
28,29,Batman Forever (1995),01-Jan-1995,4.0
29,30,Belle de jour (1967),01-Jan-1967,0.0
...,...,...,...,...
1652,1653,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,NaN
1653,1654,Chairman of the Board (1998),01-Jan-1998,NaN
1654,1655,"Favor, The (1994)",01-Jan-1994,NaN
1655,1656,Little City (1998),20-Feb-1998,NaN
1656,1657,Target (1995),28-Feb-1996,NaN
1657,1658,"Substance of Fire, The (1996)",06-Dec-1996,NaN
1658,1659,Getting Away With Murder (1996),12-Apr-1996,NaN
1659,1660,Small Faces (1995),09-Aug-1996,NaN
1660,1661,"New Age, The (1994)",01-Jan-1994,NaN
1661,1662,Rough Magic (1995),30-May-1997,NaN
1662,1663,Nothing Personal (1995),30-Apr-1997,NaN
1663,1664,8 Heads in a Duffel Bag (1997),18-Apr-1997,NaN
1664,1665,"Brother's Kiss, A (1997)",25-Apr-1997,NaN
1665,1666,Ripe (1996),02-May-1997,NaN
1666,1667,"Next Step, The (1995)",13-Jun-1997,NaN
1667,1668,Wedding Bell Blues (1996),13-Jun-1997,NaN
1668,1669,MURDER and murder (1996),20-Jun-1997,NaN
1669,1670,Tainted (1998),01-Feb-1998,NaN
1670,1671,"Further Gesture, A (1996)",20-Feb-1998,NaN
1671,1672,Kika (1993),01-Jan-1993,NaN
1672,1673,Mirage (1995),01-Jan-1995,NaN
1673,1674,Mamma Roma (1962),01-Jan-1962,NaN
1674,1675,"Sunchaser, The (1996)",25-Oct-1996,NaN
1675,1676,"War at Home, The (1996)",01-Jan-1996,NaN
1676,1677,Sweet Nothing (1995),20-Sep-1996,NaN
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN
1678,1679,B. Monkey (1998),06-Feb-1998,NaN
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN
1680,1681,You So Crazy (1994),01-Jan-1994,NaN
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN

In [224]:
def computeCosineSimilarity(firstProdeucIndex,secondProductIndex):    
    sumdotAB = 0
    sumMagA = 0
    sumMagB = 0  
    for i in range(0,len(ratings_matrix)):
        a = ratings_matrix.iloc[:,firstProdeucIndex].values[i]
        b = ratings_matrix.iloc[:,secondProductIndex].values[i]
        #print(a)
        #print(b)
        sumdotAB = sumdotAB + np.dot(a,b) 
        
        sumMagA = sumMagA + np.dot(a,a) 
        sumMagB = sumMagB + np.dot(b,b) 
      
    #print(sumdotAB)
    #print(sumMagA)
    #print(sumMagB)
    cosine_similarity = sumdotAB / (math.sqrt(sumMagA)*math.sqrt(sumMagB))
    return cosine_similarity

In [ ]:
def computeUserCosineSimilarity(uerdf):

In [203]:
cosAC = computeCosineSimilarity(0,1)
print(cosAC)

0.166930983869

In [152]:
ratings_matrix.head(2)

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
0,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
1,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [162]:
for i in range(0,100):
    cosAC = computeCosineSimilarity(0,i)
    if cosAC > 0.5:
        print(i,' ',cosAC)

0   1.0
91   0.540533561184

In [168]:
ratings_matrix.iloc[:,0]

0       5.0
1       3.0
2       4.0
3       3.0
4       3.0
5       5.0
6       4.0
7       1.0
8       5.0
9       3.0
10      2.0
11      5.0
12      5.0
13      5.0
14      5.0
15      5.0
16      3.0
17      4.0
18      5.0
19      4.0
20      1.0
21      4.0
22      4.0
23      3.0
24      4.0
25      3.0
26      2.0
27      4.0
28      1.0
29      3.0
       ...
1652    0.0
1653    0.0
1654    0.0
1655    0.0
1656    0.0
1657    0.0
1658    0.0
1659    0.0
1660    0.0
1661    0.0
1662    0.0
1663    0.0
1664    0.0
1665    0.0
1666    0.0
1667    0.0
1668    0.0
1669    0.0
1670    0.0
1671    0.0
1672    0.0
1673    0.0
1674    0.0
1675    0.0
1676    0.0
1677    0.0
1678    0.0
1679    0.0
1680    0.0
1681    0.0
Name: 1, Length: 1682, dtype: float64

In [171]:
ratings_matrix.iloc[:,94]

0       5.0
1       2.0
2       1.0
3       0.0
4       0.0
5       0.0
6       5.0
7       5.0
8       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13      5.0
14      4.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      4.0
22      0.0
23      3.0
24      3.0
25      3.0
26      0.0
27      4.0
28      0.0
29      0.0
       ...
1652    0.0
1653    0.0
1654    0.0
1655    0.0
1656    0.0
1657    0.0
1658    0.0
1659    0.0
1660    0.0
1661    0.0
1662    0.0
1663    0.0
1664    0.0
1665    0.0
1666    0.0
1667    0.0
1668    0.0
1669    0.0
1670    0.0
1671    0.0
1672    0.0
1673    0.0
1674    0.0
1675    0.0
1676    0.0
1677    0.0
1678    0.0
1679    0.0
1680    0.0
1681    0.0
Name: 95, Length: 1682, dtype: float64

In [179]:
movies.iloc[194]

movie_id                           195
title           Terminator, The (1984)
release_date               01-Jan-1984
similarity                    0.999285
Name: 194, dtype: object

In [222]:
cosAC = computeCosineSimilarity(0,6)
print(cosAC)

0.998561492302

In [223]:
cosAC = computeCosineSimilarity(0,1)
print(cosAC)

0.995213420545

In [232]:
user_rating_matrix = (ratings.pivot_table(index=['movie_id'],
                                          columns=['user_id'],values='rating').reset_index(drop=True)).T

In [235]:
user_rating_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [283]:
user_rating_matrix.fillna( 0, inplace = True )
user_rating_matrix

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,5.0,0.0,0.0,5.0,5.0,5.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,5.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,4.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,3.0,3.0,0.0,5.0,1.0,0.0,2.0,4.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,5.0,0.0,0.0,5.0,0.0,0.0,5.0,5.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,5.0,0.0,0.0,3.0,0.0,5.0,0.0,5.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,4.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,5.0,0.0,0.0,0.0,2.0,0.0,5.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,2.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,5.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,5.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,3.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
916,4.0,3.0,3.0,4.0,3.0,0.0,4.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
917,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
918,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
919,4.0,0.0,0.0,1.0,4.0,0.0,3.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
921,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
922,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
923,3.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
924,5.0,3.0,0.0,0.0,0.0,4.0,4.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
925,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
927,5.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
928,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
929,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
930,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
933,3.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
934,2.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
935,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
936,4.0,0.0,4.0,0.0,0.0,5.0,4.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
938,4.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [282]:
user_rating_matrix.T.iloc[:,942]

0       0.0
1       5.0
2       0.0
3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
8       3.0
9       0.0
10      4.0
11      5.0
12      0.0
13      0.0
14      0.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      4.0
22      4.0
23      4.0
24      0.0
25      0.0
26      4.0
27      4.0
28      0.0
29      0.0
       ...
1652    0.0
1653    0.0
1654    0.0
1655    0.0
1656    0.0
1657    0.0
1658    0.0
1659    0.0
1660    0.0
1661    0.0
1662    0.0
1663    0.0
1664    0.0
1665    0.0
1666    0.0
1667    0.0
1668    0.0
1669    0.0
1670    0.0
1671    0.0
1672    0.0
1673    0.0
1674    0.0
1675    0.0
1676    0.0
1677    0.0
1678    0.0
1679    0.0
1680    0.0
1681    0.0
Name: 943, Length: 1682, dtype: float64

In [262]:
len(user_rating_matrix.T)

1682

In [297]:
def computeUserCosineSimilarity(userIndex,userRatingDf):    
    sumdotAB = 0
    sumMagA = 0
    sumMagB = 0  
    for i in range(0,10):
        for j in range(0,10):
            a = userRatingDf.iloc[:,userIndex].values[j]
            b = userRatingDf.iloc[:,i].values[j]
            #print(a)
            #print(b)
            sumdotAB = sumdotAB + np.dot(a,b) 
        
            sumMagA = sumMagA + np.dot(a,a) 
            sumMagB = sumMagB + np.dot(b,b) 
    
    print(sumdotAB)
        
    return sumdotAB

In [298]:
computeUserCosineSimilarity(0,user_rating_matrix)

834168.0

834168.0